# LETSUPGRADE PYTHON ASSIGNMENT 1

## 1. String:

In [21]:
#built in functions on string
str1='i am learning python.'

In [27]:
#function 1
x=str1.capitalize()#Converts the first character to upper case
print(x)

I am learning python.

In [28]:
#function 2
x=str1.casefold()#Converts string into lower case
print(x)

i am learning python.

In [30]:
#function 3
x=str1.center(20)#Returns a centered string
print(x)

i am learning python.

In [33]:
#function 4
x=str1.count('a')#Returns the number of times a specified value occurs in a string
print(x)

2

In [37]:
#function 5
x=str1.endswith('b')#Returns true if the string ends with the specified value
print(x)

False

## 2. Lists

In [44]:
#built in functions on lists
lis=['I','am','learning','python','1','2','3']

In [45]:
#function 1
lis.append('4')#Adds an element at the end of the list
print(lis)

['I', 'am', 'learning', 'python', '1', '2', '3', '4']

In [46]:
#Function 2
x=lis.count('2')#Returns the number of elements with the specified value
print(x)

1

In [47]:
#Function 3
x=lis.index('4')#Returns the index of the first element with the specified value
print(x)

7

In [50]:
#Function 4
lis.reverse()#Reverses the order of the list
print(lis)

['4', '3', '2', '1', 'python', 'learning', 'am', 'I']

In [51]:
#Function 5
lis.remove('1')#Removes the first item with the specified value
print(lis)

['4', '3', '2', 'python', 'learning', 'am', 'I']

## 3.Dictionary:

In [52]:
##built in functions on dictonary
car = {"brand": "Ford","model": "Mustang","year": 1964}

In [54]:
#Function 1
x=car.get("model")#Returns the value of the specified key
print(x)

Mustang

In [55]:
#Function 2
x=car.copy()#Returns a copy of the dictionary
print(x)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [56]:
#Function 3
x=car.values()#Returns a list of all the values in the dictionary
print(x)

dict_values(['Ford', 'Mustang', 1964])

In [59]:
#Function 4
car.update({'Colour':'Black'})#Returns a list of all the values in the dictionary
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'Colour': 'Black'}

In [60]:
#Function 5
car.pop('year')#Removes the element with the specified key
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'Colour': 'Black'}

## 4. Tuple

In [61]:
##built in functions on tuple
tup = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

In [62]:
#function 1
x=tup.count(5)#Returns the number of times a specified value occurs in a tuple
print(x)

2

In [63]:
#function 2
x=tup.index(8)#Searches the tuple for a specified value and returns the position of where it was found
print(x)

3

## 5. Set

In [64]:
#built in functions on set
set1= {"1","2","3","apple", "banana", "cherry"}

In [67]:
#function 1
set1.add("10")#Adds an element to the set
print(set1)

{'1', '10', 'cherry', '3', '2', 'banana', 'apple'}

In [68]:
#function 2
x=set1.copy()#Returns a copy of the set
print(x)

{'10', 'cherry', '3', '2', 'banana', '1', 'apple'}

In [69]:
#function 3
set1.discard('1')#Remove the specified item
print(set1)

{'10', 'cherry', '3', '2', 'banana', 'apple'}

In [70]:
#function 4
set1.pop()#Removes an element from the set
print(set1)

{'cherry', '3', '2', 'banana', 'apple'}

In [71]:
#function 5
set1.clear()#Removes all the elements from the set
print(set1)

set()